<!DOCTYPE html>
<html lang="zxx">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Kargill - Blog, Magazine Html Template</title>
    <!-- favicon -->
    <link rel=icon href="../../static/img/favicon.png" sizes="20x20" type="image/png">

    <!-- Stylesheet -->
    <link rel="stylesheet" href="../../static/css/vendor.css">
    <link rel="stylesheet" href="../../static/css/magnific-popup.css">
    <link rel="stylesheet" href="../../static/css/style.css">
    <link rel="stylesheet" href="../../static/css/responsive.css">

</head>
<body>

    <!-- preloader area start -->
    <div class="preloader" id="preloader">
        <div class="preloader-inner">
            <div class="spinner">
                <div class="dot1"></div>
                <div class="dot2"></div>
            </div>
        </div>
    </div>
    <!-- search popup area start -->
    <div class="search-popup" id="search-popup">
        <form action="index.html" class="search-form">
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Search.....">
            </div>
            <button type="submit" class="submit-btn"><i class="fa fa-search"></i></button>
        </form>
    </div>
    <!-- //. search Popup -->
    <div class="body-overlay" id="body-overlay"></div>

    <!-- topbar end-->
    <!-- <div class="topbar-area">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-6 col-md-7 align-self-center">
                    <div class="topbar-left text-md-left text-center">
                        <ul>
                            <li>Home</li>
                            <li>Blog</li>
                            <li>Contact</li>
                        </ul>
                        <span>Tuesday, June 30, 2020 </span>
                    </div>
                </div>
                <div class="col-lg-6 col-md-5 text-md-right text-center">
                    <div class="topbar-right">
                        <ul class="social-area">
                            <li><a href="blog-details.html#"><i class="fa fa-facebook"></i></a></li>
                            <li><a class="bg-gray" href="blog-details.html#"><i class="fa fa-youtube-play"></i></a></li>
                            <li><a href="blog-details.html#"><i class="fa fa-twitter"></i></a></li>
                            <li><a class="bg-gray" href="blog-details.html#"><i class="fa fa-linkedin"></i></a></li>
                            <li><a href="blog-details.html#"><i class="fa fa-whatsapp"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div> -->
    <!-- topbar end-->

    <!-- adbar end-->
    <!-- <div class="adbar-area d-none d-lg-block">
        <div class="container">
            <div class="row">
                <div class="col-md-4 align-self-center">
                    <div class="logo text-md-left text-center">
                        <a class="main-logo" href="index.html"><img src="../../static/img/logo.png" alt="img"></a>
                    </div>
                </div>
                <div class="col-md-8">
                    <a href="blog-details.html#" class="adbar-right float-md-right">
                        <img src="../../static/img/ad/1.png" alt="img">
                    </a>
                </div>
            </div>
        </div>
    </div> -->
    <!-- adbar end-->

    <!-- navbar start -->
    <div class="navbar-area">
        <nav class="navbar navbar-expand-lg">
            <div class="container nav-container">
                <div class="responsive-mobile-menu">
                    <div class="logo d-lg-none d-block">
                        <a class="main-logo" href="index.html"><img src="../../static/img/logo-2.png" alt="img"></a>
                    </div>
                    <button class="menu toggle-btn d-block d-lg-none" data-target="#miralax_main_menu" 
                    aria-expanded="false" aria-label="Toggle navigation">
                        <span class="icon-left"></span>
                        <span class="icon-right"></span>
                    </button>
                </div>
                <div class="nav-right-part nav-right-part-mobile">
                    <a class="cart-header" href="blog-details.html#"><img src="../../static/img/icon/cart.png" alt="img"><span>5</span></a>
                    <a class="search header-search" href="blog-details.html#"><i class="fa fa-search"></i></a>
                </div>
                <div class="collapse navbar-collapse" id="miralax_main_menu">
                    <ul class="navbar-nav menu-open">
                        <li class="menu-item-has-children current-menu-item">
                            <a href="{{''}}">Home</a>
                            <!-- <ul class="sub-menu">
                                <li><a href="index.html">Home 01</a></li>
                                <li><a href="index-2.html">Home 02</a></li>
                                <li><a href="index-3.html">Home 03</a></li>
                                <li><a href="index-4.html">Home 04</a></li>
                            </ul> -->
                        </li>
                        <!-- <li><a href="blog-category.html">Category</a></li> -->
                        <!-- <li class="menu-item-has-children current-menu-item">
                            <a href="blog-details.html#">Pages</a>
                            <ul class="sub-menu">
                                <li><a href="blog-category.html">Blog Category</a></li>
                                <li><a href="contact.html">Contact</a></li>
                            </ul>
                        </li> -->
                        <li class="menu-item-has-children current-menu-item">
                            <a href="{% url 'blog:blog_index' %}">Blog</a>
                            <ul class="sub-menu">
                                <li><a href="{% url 'blog:blog_index' %}">Blog</a></li>
                                <li><a href="{% url 'blog:blog_category' %}">Blog Category</a></li>
                                <li><a href="{% url 'blog:blog_list' %}">Blog List</a></li>
                            </ul>
                        </li>
                        <li><a href="{% url 'blog:contact' %}">Contact</a></li>
                    </ul>
                </div>
                <div class="nav-right-part nav-right-part-desktop">
                    <a class="cart-header" href="blog-details.html#"><img src="../../static/img/icon/cart.png" alt="img"><span>5</span></a>
                    <a class="search header-search" href="blog-details.html#"><i class="fa fa-search"></i></a>
                </div>
            </div>
        </nav>
    </div>
    <!-- navbar end -->
    
    <!-- post-banner start -->
    <div class="blog-details-area pd-top-50 pd-bottom-80">
        <div class="container">
            <div class="row">
                <div class="post-banner-area pd-bottom-55">
                    <div class="blog-details-wrap">
                        <p class="category"><i class="fa fa-home"></i>  Home / Startup / Entrepreneurship </p>
                        <h4>{{ post.title }}</h4>
                        <!-- <div class="blog-details-slider owl-carousel owl-theme">
                            <div class="item">
                                <div class="top-post-wrap">
                                    <div class="thumb">
                                        <img src="../../static/img/blog/slider.png" alt="img">
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="top-post-wrap">
                                    <div class="thumb">
                                        <img src="../../static/img/blog/slider.png" alt="img">
                                    </div>
                                </div>
                            </div>
                        </div> -->
                        <div class="thumb">
                            <img src="{{ photo.image.url }}" alt="img">
                        </div>
                        <div>
                            <a class="tag" href="blog-details.html#">Fashion</a>
                            <a class="tag tag-1" href="blog-details.html#">Dress</a>
                        </div>
                        <div class="meta">
                            <a href="blog-details.html#" class="author">
                                <img src="../../static/img/author/3.png" alt="img">
                                {{ post.author }}
                            </a>
                        </div>
                        <div class="meta float-sm-right">
                            <div class="date">
                                <i class="fa fa-clock-o"></i>
                                12 Jun 22
                            </div>
                            <div class="comments m-0">
                                <i class="fa fa-comments"></i>
                                Comments 254
                            </div>
                            <div class="time">
                                <i class="fa fa-clock-o"></i>
                                5 mins Read
                            </div>
                        </div>
                        <h5>{{ post.title }}</h5>
                        <blockquote>
                            <p>{{ post.content }}</p>
                        </blockquote>  
                   
                        <!-- <p>{{ post.title }}</p> -->
                        <!-- <div class="row">
                            <div class="col-lg-6">
                                <h6 class="blog-content">{{ post.content }}</h6>
                            </div>
                            <div class="col-lg-6">
                                <p>Compassion overcome injustice shared unit of analysis; her body her rights synergy society social grit external partners. Framework; data, LGBTQ.</p>
                            </div>
                            <div class="col-lg-6">
                                <div class="top-post-wrap top-post-wrap-3">
                                    <div class="thumb">
                                        <div class="overlay"></div>
                                        <img src="../../static/img/blog/2.png" alt="img">
                                    </div>
                                    <a class="video-play-btn" href="https://www.youtube.com/embed/Wimkqo8gDZ0" data-effect="mfp-zoom-in"><i class="fa fa-play"></i></a>
                                    <div class="top-post-details">
                                        <a class="tag" href="blog-details.html#"><i class="fa fa-circle"></i>Gym</a>
                                        <h6><a href="blog-details.html#">Make Body Like This</a></h6>
                                        <div class="meta">
                                            <div class="date">
                                                11 Jun, 2020 | By RT Shuvro Length: 9 Mins
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-6">
                                <div class="top-post-wrap top-post-wrap-3">
                                    <div class="thumb">
                                        <div class="overlay"></div>
                                        <img src="../../static/img/blog/3.png" alt="img">
                                    </div>
                                    <a class="video-play-btn" href="https://www.youtube.com/embed/Wimkqo8gDZ0" data-effect="mfp-zoom-in"><i class="fa fa-play"></i></a>
                                    <div class="top-post-details">
                                        <a class="tag" href="blog-details.html#"><i class="fa fa-circle"></i>Music</a>
                                        <h6><a href="blog-details.html#">Make Body Like This</a></h6>
                                        <div class="meta">
                                            <div class="date">
                                                11 Jun, 2020 | By RT Shuvro Length: 9 Mins
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div> -->
                        <!-- <p>A save the world, ecosystem think tank greenwashing NGO the, initiative a inclusion think tank. Synergy improve the world collaborative consumption, but systems thinking justice resist. Systems thinking catalyze improve the world to the do-gooder. Systems thinking issue outcomes targeted human-centered collaborative consumption, benefit corporation, expose the truth preliminary thinking strengthening infrastructure we must stand up systems thinking accessibility global. White paper the resistance, boots on the ground then but. Sustainable, co-create human-centered thought leader social entrepreneurship entrepreneur, strategy indicators a, collective impact benefit corporation improve the world game-changer.</p>
                        <a class="ad-area" href="blog-details.html#">
                            <img src="../../static/img/ad/2.png" alt="img">
                        </a> -->
                        <!-- <div class="blog-share-area">
                            <h5>Share Post</h5>
                            <ul class="social-area social-area-3">
                                <li>
                                    <a class="facebook" href="blog-details.html#"><i class="fa fa-facebook"></i></a>
                                </li>
                                <li>
                                    <a class="pinterest" href="blog-details.html#"><i class="fa fa-pinterest"></i></a>
                                </li>
                                <li>
                                   <a class="twitter" href="blog-details.html#"><i class="fa fa-twitter"></i></a>
                                </li>
                                <li>
                                   <a class="behance" href="blog-details.html#"><i class="fa fa-behance"></i></a>
                                </li>
                                <li>
                                   <a class="linkedin" href="blog-details.html#"><i class="fa fa-linkedin"></i></a>
                                </li>
                            </ul>
                        </div> -->
                        <div class="blog-tags">
                            <h5>Tags</h5>
                            <div class="tagcloud">
                                <a href="blog-details.html#">Facebook</a>
                                <a href="blog-details.html#">Life Partner</a>
                                <a href="blog-details.html#">Latest Story</a>
                                <a href="blog-details.html#">Kitchen Toolsa</a>
                                <a href="blog-details.html#">Art</a>
                                <a href="blog-details.html#">Science</a>
                                <a href="blog-details.html#">Student</a>
                                <a href="blog-details.html#">ECR</a>
                                <a href="blog-details.html#">Laptop C7</a>
                            </div> 
                        </div>
                        <div class="blog-author-area">
                            <div class="blog-author-details media">
                                <img src="../../static/img/author/3b.png" alt="author">
                                <div class="media-body">
                                    <h6>Alex Martun</h6>
                                    <p>Living a fully ethical life, game-changer overcome injustice co-creation catalyze co-creation revolutionary white paper systems thinking hentered. Innovation resilient deep dive shared unit of analysis, ble</p>
                                </div>
                            </div>
                        </div>
                        <!-- <div class="recent-blog-area">
                            <div class="row">
                                <div class="col-12">
                                    <h6>Related Posts</h6>
                                </div>
                                <div class="col-md-6">
                                    <div class="single-post-wrap">
                                        <div class="thumb">
                                            <img src="{{ photo.image.url }}" alt="img">
                                            <a class="tag" href="blog-details.html#">{{ post.title }}</a>
                                        </div>
                                        <h6><a href="blog-details.html#">{{ post.content }}</a></h6>
                                        <div class="meta">
                                            <a href="blog-details.html#" class="author">
                                                <img src="../../static/img/author/3.png" alt="img">
                                                {{ post.author}} 
                                            </a>
                                            <div class="date">
                                                <i class="fa fa-clock-o"></i>
                                                12 Jun 22
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="single-post-wrap">
                                        <div class="thumb">
                                            <img src="../../static/img/top-post/9.png" alt="img">
                                            <a class="tag" href="blog-details.html#">Travel</a>
                                        </div>
                                        <h6><a href="blog-details.html#">30 World's Best Places to Visit USA | Newsfast Company</a></h6>
                                        <div class="meta">
                                            <a href="blog-details.html#" class="author">
                                                <img src="../../static/img/author/3.png" alt="img">
                                                Alex Martun Blogger   
                                            </a>
                                            <div class="date">
                                                <i class="fa fa-clock-o"></i>
                                                12 Jun 22
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="single-post-wrap">
                                        <div class="thumb">
                                            <img src="../../static/img/top-post/10.png" alt="img">
                                            <a class="tag" href="blog-details.html#">Travel</a>
                                        </div>
                                        <h6><a href="blog-details.html#">30 World's Best Places to Visit USA | Newsfast Company</a></h6>
                                        <div class="meta">
                                            <a href="blog-details.html#" class="author">
                                                <img src="../../static/img/author/3.png" alt="img">
                                                Alex Martun Blogger  
                                            </a>
                                            <div class="date">
                                                <i class="fa fa-clock-o"></i>
                                                12 Jun 22
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="single-post-wrap">
                                        <div class="thumb">
                                            <img src="../../static/img/top-post/11.png" alt="img">
                                            <a class="tag" href="blog-details.html#">Travel</a>
                                        </div>
                                        <h6><a href="blog-details.html#">30 World's Best Places to Visit USA | Newsfast Company</a></h6>
                                        <div class="meta">
                                            <a href="blog-details.html#" class="author">
                                                <img src="../../static/img/author/3.png" alt="img">
                                                Alex Martun Blogger 
                                            </a>
                                            <div class="date">
                                                <i class="fa fa-clock-o"></i>
                                                12 Jun 22
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div> -->
                        <div class="comment-area">
                            <h5>You May Add Comment Now.</h5>
                            <div class="media">
                                <div class="thumb">
                                    <img src="../../static/img/author/4.png" alt="img">
                                </div>
                                <div class="media-body">
                                    <a class="btn float-sm-right" href="blog-details.html#">Reply</a>
                                    <h6>Ranon Nine</h6>
                                    <p>Lusto duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>
                                </div>
                            </div>
                            <div class="media nesting">
                                <div class="thumb">
                                    <img src="../../static/img/author/5.png" alt="img">
                                </div>
                                <div class="media-body">
                                    <a class="btn float-sm-right" href="blog-details.html#">Reply</a>
                                    <h6>Alex Paron</h6>
                                    <p>Lusto duo dolores et ea rebum. Stet clita kasd gubergren takimata sanctus est Lorem ipsum dolor sit amet.</p>
                                </div>
                            </div>
                            <div class="media media-last">
                                <div class="thumb">
                                    <img src="../../static/img/author/6.png" alt="img">
                                </div>
                                <div class="media-body">
                                    <a class="btn float-sm-right" href="blog-details.html#">Reply</a>
                                    <h6>Minony Nine</h6>
                                    <p>Lusto duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>
                                </div>
                            </div>
                            <form class="comment-form">
                                <h5>Leave a Reply</h5>
                                <div class="row">
                                    <div class="col-12">
                                        <div class="single-input-wrap single-textarea-wrap">
                                            <textarea rows="6" placeholder="Write your message..."></textarea>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="single-input-wrap">
                                            <input type="text" class="form-control" placeholder="Full Name*">
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="single-input-wrap">
                                            <input type="text" class="form-control" placeholder="Email*">
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="single-input-wrap">
                                            <input type="text" class="form-control" placeholder="Phone Number">
                                        </div>
                                    </div>
                                </div>
                                <div class="comment-check">
                                    <label><input type="checkbox" aria-label="Checkbox for following text input">
                                    <span class="checkmark"></span></label>
                                    Save my name, email, and website in this browser for the next time.
                                </div>
                                <button type="submit" class="btn btn-main">Submit Comment</button>
                            </form>
                        </div>
                    </div>                    
                </div>
                <!-- <div class="col-lg-4">
                    <div class="widget-tab widget-tab-2 widget">
                        <ul class="nav nav-tabs">
                            <li><a class="active" data-toggle="tab" href="blog-details.html#post1">Popular</a>
                            </li>
                            <li><a data-toggle="tab" href="blog-details.html#post2">Recent</a>
                            </li>
                            <li><a data-toggle="tab" href="blog-details.html#post3">Comments</a>
                            </li>
                        </ul>
                        <div class="tab-content">
                            <div id="post1" class="tab-pane fade active show">
                                <div class="media-post-wrap media">
                                    <div class="thumb">
                                        <img src="../../static/img/post/4s.png" alt="img">
                                    </div>
                                    <div class="media-body">
                                        <h6><a href="blog-details.html#">There must be someone behind the person who has achieved</a></h6>
                                        <div class="meta">
                                            <div class="date">
                                                <i class="fa fa-clock-o"></i>
                                                12 Jun 22
                                            </div>
                                            <a href="blog-details.html#" class="author">
                                                <i class="fa fa-user"></i>
                                                Alex Nuya 
                                            </a>
                                        </div>
                                    </div>
                                </div> 
                                <div class="media-post-wrap media">
                                    <div class="thumb">
                                        <img src="../../static/img/post/5s.png" alt="img">
                                    </div>
                                    <div class="media-body">
                                        <h6><a href="blog-details.html#">Best fashion makeup for everyday life style</a></h6>
                                        <div class="meta">
                                            <div class="date">
                                                <i class="fa fa-clock-o"></i>
                                                12 Jun 22
                                            </div>
                                            <a href="blog-details.html#" class="author">
                                                <i class="fa fa-user"></i>
                                                Alex Nuya 
                                            </a>
                                        </div>
                                    </div>
                                </div> 
                                <div class="media-post-wrap media mb-0">
                                    <div class="thumb">
                                        <img src="../../static/img/post/6s.png" alt="img">
                                    </div>
                                    <div class="media-body">
                                        <h6><a href="blog-details.html#">There must be someone behind the person who has achieved</a></h6>
                                        <div class="meta">
                                            <div class="date">
                                                <i class="fa fa-clock-o"></i>
                                                12 Jun 22
                                            </div>
                                            <a href="blog-details.html#" class="author">
                                                <i class="fa fa-user"></i>
                                                Alex Nuya 
                                            </a>
                                        </div>
                                    </div>
                                </div> 
                            </div>
                            <div id="post2" class="tab-pane fade">
                                <div class="media-post-wrap media">
                                    <div class="thumb">
                                        <img src="../../static/img/post/4s.png" alt="img">
                                    </div>
                                    <div class="media-body">
                                        <h6><a href="blog-details.html#">There must be someone behind the person who has achieved</a></h6>
                                        <div class="meta">
                                            <div class="date">
                                                <i class="fa fa-clock-o"></i>
                                                12 Jun 22
                                            </div>
                                            <a href="blog-details.html#" class="author">
                                                <i class="fa fa-user"></i>
                                                Alex Nuya 
                                            </a>
                                        </div>
                                    </div>
                                </div> 
                                <div class="media-post-wrap media">
                                    <div class="thumb">
                                        <img src="../../static/img/post/5s.png" alt="img">
                                    </div>
                                    <div class="media-body">
                                        <h6><a href="blog-details.html#">Best fashion makeup for everyday life style</a></h6>
                                        <div class="meta">
                                            <div class="date">
                                                <i class="fa fa-clock-o"></i>
                                                12 Jun 22
                                            </div>
                                            <a href="blog-details.html#" class="author">
                                                <i class="fa fa-user"></i>
                                                Alex Nuya 
                                            </a>
                                        </div>
                                    </div>
                                </div> 
                                <div class="media-post-wrap media mb-0">
                                    <div class="thumb">
                                        <img src="../../static/img/post/6s.png" alt="img">
                                    </div>
                                    <div class="media-body">
                                        <h6><a href="blog-details.html#">There must be someone behind the person who has achieved</a></h6>
                                        <div class="meta">
                                            <div class="date">
                                                <i class="fa fa-clock-o"></i>
                                                12 Jun 22
                                            </div>
                                            <a href="blog-details.html#" class="author">
                                                <i class="fa fa-user"></i>
                                                Alex Nuya 
                                            </a>
                                        </div>
                                    </div>
                                </div> 
                            </div>
                            <div id="post3" class="tab-pane fade">
                                <div class="media-post-wrap media">
                                    <div class="thumb">
                                        <img src="../../static/img/post/4s.png" alt="img">
                                    </div>
                                    <div class="media-body">
                                        <h6><a href="blog-details.html#">There must be someone behind the person who has achieved</a></h6>
                                        <div class="meta">
                                            <div class="date">
                                                <i class="fa fa-clock-o"></i>
                                                12 Jun 22
                                            </div>
                                            <a href="blog-details.html#" class="author">
                                                <i class="fa fa-user"></i>
                                                Alex Nuya 
                                            </a>
                                        </div>
                                    </div>
                                </div> 
                                <div class="media-post-wrap media">
                                    <div class="thumb">
                                        <img src="../../static/img/post/5s.png" alt="img">
                                    </div>
                                    <div class="media-body">
                                        <h6><a href="blog-details.html#">Best fashion makeup for everyday life style</a></h6>
                                        <div class="meta">
                                            <div class="date">
                                                <i class="fa fa-clock-o"></i>
                                                12 Jun 22
                                            </div>
                                            <a href="blog-details.html#" class="author">
                                                <i class="fa fa-user"></i>
                                                Alex Nuya 
                                            </a>
                                        </div>
                                    </div>
                                </div> 
                                <div class="media-post-wrap media mb-0">
                                    <div class="thumb">
                                        <img src="../../static/img/post/6s.png" alt="img">
                                    </div>
                                    <div class="media-body">
                                        <h6><a href="blog-details.html#">There must be someone behind the person who has achieved</a></h6>
                                        <div class="meta">
                                            <div class="date">
                                                <i class="fa fa-clock-o"></i>
                                                12 Jun 22
                                            </div>
                                            <a href="blog-details.html#" class="author">
                                                <i class="fa fa-user"></i>
                                                Alex Nuya 
                                            </a>
                                        </div>
                                    </div>
                                </div>  
                            </div>
                        </div>
                    </div>
                    <div class="sidebar-area">
                        <div class="widget widget-subscribe text-center">
                            <h5>Subscribe Now</h5>
                            <div class="widget-subscribe-details">
                                <div class="thumb">
                                    <img src="../../static/img/icon/envelope.png" alt="img">
                                </div>
                                <h6>Subscribe Our Newslatter</h6>
                                <div class="newsletter-inner">
                                    <input type="text" placeholder="Enter Your Email address">
                                    <button><i class="fa fa-paper-plane-o"></i></button>
                                </div>
                                <p>There is only notifications about new products &amp; updates</p>
                            </div>
                        </div>
                        <div class="widget widget-social-area">
                            <h5 class="widget-title">Social Media</h5>
                            <ul>
                                <li class="facebook"><a href="blog-details.html#"><i class="fa fa-facebook-square"></i>Facebook 12k</a></li>
                                <li class="pinterest"><a href="blog-details.html#"><i class="fa fa-pinterest"></i>Pinterest 32k</a></li>
                                <li class="linkedin"><a href="blog-details.html#"><i class="fa fa-linkedin-square"></i>Linkedin 16k</a></li>
                                <li class="twitter"><a href="blog-details.html#"><i class="fa fa-twitter-square"></i>Twitter 9k</a></li>
                                <li class="instagram"><a href="blog-details.html#"><i class="fa fa-instagram"></i>Instagram 12k</a></li>
                                <li class="youtube"><a href="blog-details.html#"><i class="fa fa-youtube-play"></i>Youtube 34k</a></li>
                            </ul>
                        </div> 
                        <div class="widget widget-visitor text-center">
                            <h5>Monthly Visitor</h5>
                            <h6>77,179744</h6>
                            <p>Youn Become a part of the InSky as a member</p>
                            <a class="btn btn-main" href="blog-details.html#">Become a Member</a>
                        </div>
                        <div class="widget widget-list">
                            <h5 class="widget-title">Best Stories</h5>
                            <div class="media-post-wrap media">
                                <div class="thumb">
                                    <img src="../../static/img/widget/1.png" alt="img">
                                </div>
                                <div class="media-body">
                                    <h6><a href="blog-details.html#">What was the first travel experience of my life like?</a></h6>
                                    <div class="meta">
                                        <a href="blog-details.html#" class="author">
                                            By: Malika   
                                        </a>
                                        <div class="date">
                                            <i class="fa fa-clock-o"></i>
                                            19 Jun 22
                                        </div>
                                        <div class="views">
                                            63 Views
                                        </div>
                                    </div>
                                </div>
                            </div> 
                            <div class="media-post-wrap media">
                                <div class="thumb">
                                    <img src="../../static/img/widget/2.png" alt="img">
                                </div>
                                <div class="media-body">
                                    <h6><a href="blog-details.html#">The story of becoming a good successful freelancer from.</a></h6>
                                    <div class="meta">
                                        <a href="blog-details.html#" class="author">
                                            By: Malika   
                                        </a>
                                        <div class="date">
                                            <i class="fa fa-clock-o"></i>
                                            16 Jun 22
                                        </div>
                                        <div class="views">
                                            13 Views
                                        </div>
                                    </div>
                                </div>
                            </div> 
                            <div class="media-post-wrap media">
                                <div class="thumb">
                                    <img src="../../static/img/widget/3.png" alt="img">
                                </div>
                                <div class="media-body">
                                    <h6><a href="blog-details.html#">Why a person has to go through a very difficult time in life</a></h6>
                                    <div class="meta">
                                        <a href="blog-details.html#" class="author">
                                            By: Malika   
                                        </a>
                                        <div class="date">
                                            <i class="fa fa-clock-o"></i>
                                            12 Jun 22
                                        </div>
                                        <div class="views">
                                            92 Views
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <a class="load-more-btn" href="blog-details.html#">Load More</a>
                        </div>
                        <div class="widget widget-post">
                            <h5 class="widget-title">Top Travel Posts</h5>
                            <div class="single-widget-post">
                                <div class="thumb">
                                    <img src="../../static/img/widget/4.png" alt="img">
                                </div>
                                <h6>Travel ipsum dolor sit amet, consectetur adipiscing elit aliqua.</h6>
                            </div>
                            <div class="single-widget-post">
                                <div class="thumb">
                                    <img src="../../static/img/widget/5.png" alt="img">
                                </div>
                                <h6>Travel ipsum dolor sit amet, consectetur adipiscing elit aliqua.</h6>
                            </div>
                            <a class="load-more-btn" href="blog-details.html#">Load More</a>
                        </div>
                        <div class="widget widget_tags">
                            <h4 class="widget-title">Popular Tags</h4>
                            <div class="tagcloud">
                                <a href="blog-details.html#">Facebook</a>
                                <a href="blog-details.html#">Life Partner</a>
                                <a href="blog-details.html#">Art</a>
                                <a href="blog-details.html#">Latest Story</a>
                                <a href="blog-details.html#">Kitchen Toolsa</a>
                                <a href="blog-details.html#">Art</a>
                                <a href="blog-details.html#">Science</a>
                                <a href="blog-details.html#">Student</a>
                            </div>
                        </div>
                    </div>
                </div> -->
            </div>
        </div>
    </div>
    <!-- post-banner end -->

    <!-- footer area start -->
    <footer class="footer-area">
        <div class="container">
            <div class="footer-top">
                <div class="row">
                    <div class="col-xl-2 col-md-4 col-sm-6">
                        <h5 class="widget-title">Quick Links</h5>
                        <div class="widget widget_link">
                            <ul>
                                <li><a href="blog-details.html#">About Us</a></li>
                                <li><a href="blog-details.html#">Blog</a></li>
                                <li><a href="blog-details.html#">Contact Us</a></li>
                                <li><a href="blog-details.html#">Privacy & Policy</a></li>
                                <li><a href="blog-details.html#">Terms & Conditions</a></li>
                                <li><a href="blog-details.html#">Affiliate Program</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-xl-2 col-md-4 col-sm-6">
                        <h5 class="widget-title">Popular Posts</h5>
                        <div class="widget widget_link">
                            <ul>
                                <li><a href="blog-details.html#">Celebrity News</a></li>
                                <li><a href="blog-details.html#">Movies</a></li>
                                <li><a href="blog-details.html#">TV News</a></li>
                                <li><a href="blog-details.html#">Music News</a></li>
                                <li><a href="blog-details.html#">Style News</a></li>
                                <li><a href="blog-details.html#">Entertainment Video</a></li>
                                <li><a href="blog-details.html#">Design Website</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-xl-2 offset-xl-1 col-md-4 col-sm-6">
                        <h5 class="widget-title">International</h5>
                        <div class="widget widget_link">
                            <ul>
                                <li><a href="blog-details.html#">Executive</a></li>
                                <li><a href="blog-details.html#">Senate</a></li>
                                <li><a href="blog-details.html#">House</a></li>
                                <li><a href="blog-details.html#">Judiciary</a></li>
                                <li><a href="blog-details.html#">Foreign policy</a></li>
                                <li><a href="blog-details.html#">Polls</a></li>
                                <li><a href="blog-details.html#">Elections</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-xl-2 col-md-4 col-sm-6">
                        <h5 class="widget-title">Quick Links</h5>
                        <div class="widget widget_link">
                            <ul>
                                <li><a href="blog-details.html#">About Us</a></li>
                                <li><a href="blog-details.html#">Blog</a></li>
                                <li><a href="blog-details.html#">Contact Us</a></li>
                                <li><a href="blog-details.html#">Privacy & Policy</a></li>
                                <li><a href="blog-details.html#">Terms & Conditions</a></li>
                                <li><a href="blog-details.html#">Affiliate Program</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-4 col-md-6 col-sm-8">
                        <div class="widget widget_post_list">
                            <h5 class="widget-title">Latest Posts</h5>
                            <div class="media-post-wrap media">
                                <div class="thumb">
                                    <img src="../../static/img/footer/1.png" alt="img">
                                </div>
                                <div class="media-body">
                                    <h6><a href="blog-details.html#">Nothing impossble to need hard work</a></h6>
                                    <div class="meta">
                                        <div class="date">
                                            12 Jun 2020
                                        </div>
                                        <div class="author">
                                            <a href="blog-details.html#">Rt Shuvro</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="media-post-wrap media">
                                <div class="thumb">
                                    <img src="../../static/img/footer/2.png" alt="img">
                                </div>
                                <div class="media-body">
                                    <h6><a href="blog-details.html#">Nothing impossble to need hard work</a></h6>
                                    <div class="meta">
                                        <div class="date">
                                            12 Jun 2020
                                        </div>
                                        <div class="author">
                                            <a href="blog-details.html#">Rt Shuvro</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="media-post-wrap media">
                                <div class="thumb">
                                    <img src="../../static/img/footer/3.png" alt="img">
                                </div>
                                <div class="media-body">
                                    <h6><a href="blog-details.html#">Nothing impossble to need hard work</a></h6>
                                    <div class="meta">
                                        <div class="date">
                                            12 Jun 2020
                                        </div>
                                        <div class="author">
                                            <a href="blog-details.html#">Rt Shuvro</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-bottom">
            <div class="container">
                <div class="row">
                    <div class="col-xl-8 col-lg-7 align-self-center">
                        <div class="footer-logo">
                            <img src="../../static/img/logo-2.png" alt="img">
                        </div>
                        <ul class="footer_menu">
                            <li><a href="blog-details.html#">About</a></li>
                            <li><a href="blog-details.html#">Contact</a></li>
                            <li><a href="blog-details.html#">Advertisement</a></li>
                        </ul>
                    </div>
                    <div class="col-xl-4 col-lg-5 text-lg-right">
                        <div class="footer-subscribe-inner">
                            <input type="text" placeholder="Email address">
                            <button>Subscribe</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="copyright-area">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-xl-5 col-lg-6 align-self-center">
                        <ul class="privacy-menu">
                            <li><a href="blog-details.html#">Terms & Conditions</a></li>
                            <li><a href="blog-details.html#">Privacy Policy</a></li>
                            <li><a href="blog-details.html#">Sitemap</a></li>
                        </ul>
                    </div>
                    <div class="col-xl-3 col-lg-6 text-lg-center align-self-center">
                        <p>@ 2020, <span>Kargil</span>. All right reserved</p>
                    </div>
                    <div class="col-xl-4 text-xl-right text-xl-center">
                        <ul class="social-area social-area-2">
                            <li><a href="blog-details.html#"><i class="fa fa-youtube-play"></i></a></li>
                            <li><a href="blog-details.html#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="blog-details.html#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="blog-details.html#"><i class="fa fa-linkedin"></i></a></li>
                            <li><a href="blog-details.html#"><i class="fa fa-pinterest"></i></a></li>
                            <li><a href="blog-details.html#"><i class="fa fa-whatsapp"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- footer area end -->

    <!-- back to top area start -->
    <div class="back-to-top">
        <span class="back-top"><i class="fa fa-angle-double-up"></i></span>
    </div>
    <!-- back to top area end -->


    <!-- all plugins here -->
    <script src="../../static/js/vendor.js"></script>
    <script src="../../static/js/jquery.magnific-popup.min.js"></script>
    <!-- main js  -->
    <script src="../../static/js/main.js"></script>
</body>
</html>